alembic==1.9.4
alipay-sdk-python==3.6.376
altgraph==0.17.2
amqp==5.1.1
appdirs==1.4.4
APScheduler==3.7.0
asgiref @ file:///opt/conda/conda-bld/asgiref_1661287532135/work
async-timeout==4.0.2
attrs==22.1.0
Automat==20.2.0
backports.zoneinfo @ file:///opt/conda/conda-bld/backports.zoneinfo_1661287532800/work
beautifulsoup4==4.11.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
constantly==15.1.0
coverage==6.5.0
crypto==1.4.0
cryptography==38.0.1
cssselect==1.1.0
Deprecated==1.2.13
distlib==0.3.6
Django==3.2
django-apscheduler==0.6.0
django-cas-server==1.3.1
django-cors-headers==3.7.0
django-redis-sessions==0.6.2
djangorestframework==3.13.1
dnspython==2.2.1
exceptiongroup==1.0.0
filelock==3.8.0
flake8==5.0.4
Flask @ file:///tmp/build/80754af9/flask_1632776664051/work
Flask-Migrate==2.7.0
Flask-MySQLdb==1.0.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
furl==2.1.3
gevent==22.10.1
greenlet==1.1.3
hyperlink==21.0.0
idna==3.4
importlib-metadata==5.0.0
importlib-resources==5.12.0
incremental==22.10.0
iniconfig==1.1.1
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
kombu==5.2.4
lxml==4.9.1
Mako==1.2.4
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
mccabe==0.7.0
mock==4.0.3
mysqlclient==2.1.1
Naked==0.1.31
orderedmultidict==1.0.1
packaging==21.3
parsel==1.6.0
Pillow==9.2.0
platformdirs==2.5.2
pluggy==1.0.0
Protego==0.2.1
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.14.1
pycryptodomex==3.15.0
PyDispatcher==2.0.6
pyee==8.2.2
PyExecJS==1.5.1
pyflakes==2.5.0
pyinstaller==5.2
pyinstaller-hooks-contrib==2022.8
pymongo==4.3.2
PyMySQL==1.0.2
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyquery==1.4.3
pytest==7.2.0
pytest-cov==4.0.0
python-alipay-sdk==3.1.0
python-scrapyd-api==2.1.2
pytz==2022.2.1
PyYAML==6.0
qrcode==7.3.1
queuelib==1.6.2
redis==4.3.4
requests==2.28.1
requests-file==1.5.1
requests-futures==1.0.0
rsa==4.9
Scrapy==2.7.0
scrapy-redis==0.7.3
scrapy-splash==0.8.0
service-identity==21.1.0
shellescape==3.8.1
six==1.16.0
some-package==0.1
soupsieve==2.3.2.post1
SQLAlchemy==1.4.41
sqlparse==0.4.2
tldextract==3.4.0
tomli==2.0.1
tox==3.27.0
tqdm==4.64.1
Twisted==22.8.0
typing_extensions==4.4.0
tzlocal==2.1
urllib3==1.26.12
uWSGI @ file:///home/conda/feedstock_root/build_artifacts/uwsgi_1640197082263/work
vine==5.0.0
virtualenv==20.16.6
w3lib==2.0.1
websocket==0.2.1
websockets==10.4
weixin-python==0.5.7
Werkzeug==2.2.2
wrapt==1.14.1
WTForms==3.0.1
zipp==3.10.0
zope.event==4.5.0
zope.interface==5.5.0
