<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>Mobile Shop</title>
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
	
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/fonts/font-slider.css" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="/static/js/jquery-2.1.1.js"></script>
	
	<!-- Core JavaScript Files -->  	 
    <script src="/static/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        {#function a(){#}
        {##}
        {#           var form = $("<form method='post'></form>");#}
        {#            form.attr({"action":{% url "app_order:order_page" %}});#}
        {#            $("html").append(form);#}
            function show_confirm()
            {
            var r=confirm("确认提交订单");
            if (r==true)
              {
                  window.location.href='{% url "app_order:order_page" %}';

            }


            else
              {
              alert("未确认订单!");
              }
            }
    </script>
</head>
<body>
	{% include 'top.html' %}
    {% include 'header.html' %}
    {% include 'navigation.html' %}
	<!--//////////////////////////////////////////////////-->
	<!--///////////////////Cart Page//////////////////////-->
	<!--//////////////////////////////////////////////////-->

	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="{%  url 'app_commidity:index' %}">主页</a></li>
						<li><a href="">购物车</a></li>
					</ul>
				</div>
			</div>
        {% if game_kind_num %}
            {% for i in game_kind_num %}
			<div class="row">
				<div class="product well">
					<div class="col-md-3">
						<div class="image">
							<a href="{%  url 'app_commidity:product' %}?i={{ i.sku_id.sku_id }}">
                                <img src="/static/media/{{ i.sku_id.commditypicture_set.all.0.comm_picture.name }}" />
                            </a>
						</div>
					</div>
					<div class="col-md-9">
						<div class="caption">
							<div class="name"><h3><a href="{%  url 'app_commidity:product' %}?i={{ i.sku_id.sku_id }}">{{ i.sku_id.sku_name }}</a></h3></div>
{#							<div class="info">#}
{#								<ul>#}
{#									<li>Brand: text</li>#}
{#									<li>ID: 0122222</li>#}
{#								</ul>#}
{#							</div>#}
							<div class="price">现价： {% widthratio i.sku_id.sku_discount 1 i.sku_id.sku_price %}<span>原价： {{ i.sku_id.sku_price }}</span></div>
							<label>数量: </label> <input id="number_{{ forloop.counter }}" class="form-inline quantity" type="text" value="{{ i.num }}">
{#                 两个按钮为实现 使用ajax            #}
                            <button  id="add_{{ forloop.counter }}" class="btn btn-2 ">添加</button>
                            <button  id="sub_{{ forloop.counter }}" class="btn btn-2 ">减少</button>
							<hr>

							<button  class="btn btn-default pull-right" id="del_{{ forloop.counter }}">删除</button>
{#                            #}
						</div>
					</div>
				</div>	
			</div>

            {% endfor %}


                <div class="row">
                    <div class="pricedetails">
                        <div class="col-md-4 col-md-offset-8">
                            <table>
    {#							<h6>Price Details</h6>#}
                                <tr>
                                    <td>原价</td>
                                    <td id="s_c_p">{{ sum_cart_price }} 元</td>
                                </tr>
                                <tr>
                                    <td>折扣</td>
                                    <td>-----</td>
                                </tr>
                                <tr>
                                    <td>省去</td>
                                    <td id="s_p">{{ save_price }}元</td>
                                </tr>
                                <tr style="border-top: 1px solid #333">
                                    <td><h5>共计</h5></td>
                                    <td id="d_p">{{ discout_price }}元</td>
                                </tr>
                            </table>
    {#                没有实现ajax 与是否购买的认证        #}

                            <center><input  onclick="show_confirm()" class="btn btn-1" value="购买"></center>



    {#					#}
                        </div>
                    </div>
                </div>
        {% for i in game_kind_num %}
                <script>
                         $('#add_'+{{ forloop.counter }}).click(
                    function(){

                        $.ajax({
                        url: {%   url 'app_cart:add_page' %} ,             //请求的url地址,
                        type:"post",        //请求的方式
                        async:false,        // 同步
                         data:{					//发送给后端的数据
                            {#obj : {{ i }};#}
                         obj_id : {{ i.num_id }},		//获得name为i1的标签值

                        {#i2: {{ }},		//获得name为i2的标签值#}
                    },
                            {#接受后端数据的函数#}
                            success: function (data) {
                        console.log(data)
                            $("#number_{{ forloop.counter }}").val(data.obj_num)

                            $("#s_c_p").text(data.sum_cart_price+"元")
                            $("#d_p").text(data.discout_price+"元")
                            $("#s_p").text(data.save_price+"元")
                            },

                    })


                    })
                         $('#del_{{ forloop.counter }}').click(
                    function(){

                        $.ajax({
                        url: {%   url 'app_cart:del_page' %} ,             //请求的url地址,
                        type:"post",        //请求的方式
                        {#async:false,        // 同步#}
                         data:{					//发送给后端的数据
                            {#obj : {{ i }};#}
                         obj_id : {{ i.num_id }},		//获得name为i1的标签值

                        {#i2: {{ }},		//获得name为i2的标签值#}
                    },
                            {#接受后端数据的函数#}
                            success: function (data) {
                            alert("您已删除商品");
                            window.location.href = {% url "app_cart:cart_page" %};
                            },
                    })
                    })



                         $('#sub_'+{{ forloop.counter }}).click(
                    function(){
                        $.ajax({
                        url: {%   url 'app_cart:sub_page' %} ,             //请求的url地址,
                        type:"post",        //请求的方式

                         data:{					//发送给后端的数据
                            {#obj : {{ i }};#}
                         obj_id : "{{ i.num_id }}",		//获得name为i1的标签值

                        {#i2: {{ }},		//获得name为i2的标签值#}
                    },
                            {#接受后端数据的函数#}
                            success: function (data) {
                        console.log(data)
                        $("#number_{{ forloop.counter }}").val(data.obj_num)
                                $("#s_c_p").text(data.sum_cart_price+"元")
                                $("#d_p").text(data.discout_price+"元")
                                $("#s_p").text(data.save_price+"元")
                            },

                    })
                    })
                </script>
        {% endfor %}
            {% else %}
            <h1><a class="btn-success btn" href="{% url 'app_commidity:index' %}" >快去找自己喜欢的！！！！！！！！！添加至购物车</a></h1>
{% endif %}



{#			<div class="row">#}
{#				<div class="col-md-4 col-md-offset-8 ">#}
{#					<center><a href="#" class="btn btn-1">Continue To Shopping</a></center>#}
{#				</div>#}
{#			</div>#}

		</div>
	</div>	
	{% include 'foot.html' %}
</body>
</html>
{#function show_confirm()#}
{#            {#}
{#            var r=confirm("确认提交订单");#}
{#            if (r==true)#}
{#              {#}
{#                $.ajax({#}
                        {#async: false,#}
{#                        async: false,#}
                        {#url: {%   url 'app_cart:add_cart' %} ,             //请求的url地址,#}
{#                        url: {% url "app_order:order_page" %} ,#}
{#                        type:"post",        //请求的方式#}
                        {#async:false,#}
{##}
{#                    success: function (data) {#}
{#                        obj.document.write(data.data);#}
{#                    },#}
{##}
{#                    }#}
{#                )#}
{##}
{##}
{#              }#}
{#            else#}
{#              {#}
{#              alert("未确认订单!");#}
{#              }#}
{#            }#}