<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mobile Shop</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

	<!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">


	<!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/fonts/font-slider.css" type="text/css">

	<!-- jQuery and Modernizr-->
	<script src="/static/js/jquery-2.1.1.js"></script>

	<!-- Core JavaScript Files -->
    <script src="/static/js/bootstrap.min.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    {% include 'top.html' %}
    {% include 'header.html' %}
    {% include 'navigation.html' %}


    用户名：{{ user.username }}<br>
    手机号：{{ user.phone }}<br>
    邮箱：{{ user.email }}<br>
    <a class="btn btn-default" href="{% url "app_order:order_show" %}">我的订单信息</a><br>
    <a class="btn btn-success" href="{% url 'app_user:logout' %}">注销</a><br>






{#    {% include 'foot.html' %}#}
</body>
</html>