<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mobile Shop</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">

	<!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">


	<!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/fonts/font-slider.css" type="text/css">

	<!-- jQuery and Modernizr-->
	<script src="/static/js/jquery-2.1.1.js"></script>

	<!-- Core JavaScript Files -->
    <script src="/static/js/bootstrap.min.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	{% include 'top.html' %}
    {% include 'header.html' %}
    {% include 'navigation.html' %}
    <div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="breadcrumb">
						<li><a href="{%  url 'app_commidity:index' %}">主页</a></li>
						<li><a href="">订单</a></li>
					</ul>
				</div>
			</div>
        {% block  detail%}
            {% for i in game_kind_num %}
			<div class="row">
				<div class="product well">
					<div class="col-md-3">
						<div class="image">
							<a href="{%  url 'app_commidity:product' %}?i={{ i.sku_id.sku_id }}">
                                <img src="/static/media/{{ i.sku_id.commditypicture_set.all.0.comm_picture.name }}" />
                            </a>
						</div>
					</div>
					<div class="col-md-9">
						<div class="caption">
							<div class="name"><h3><a href="{%  url 'app_commidity:product' %}?i={{ i.sku_id.sku_id }}">{{ i.sku_id.sku_name }}</a></h3></div>

{#                            订单编号#}
                            {#							<div class="info">#}
                            {#								<ul>#}
                            {#									<li>Brand: text</li>#}
                            {#									<li>ID: 0122222</li>#}
                            {#								</ul>#}
                            {#							</div>#}
							<div class="price">现价： {% widthratio i.sku_id.sku_discount 1 i.sku_id.sku_price %}</div>
							<label>数量: {{ i.num }}</label>

							<hr>



						</div>
					</div>
				</div>
			</div>

            {% endfor %}


{% endblock %}

    <div class="row">
                    <div class="pricedetails">
                        <div class="col-md-4 col-md-offset-8">
                            <table>
                                <tr style="border-top: 1px solid #333">
                                    <td><h5>共计</h5></td>
                                    <td id="d_p">{{ information.order_all_number }}个</td>
                                    <td id="d_p">{{ information.order_all_money }}元</td>
                                </tr>
                            </table>
                            {% block  lk %}

{#                            <center><input onclick="show_confirm()" class="btn btn-1" value="购买"></center>#}
{##}
{#                            <a href="{% url "app_order:order_del" information.order_id %}">取消订单</a>#}
                                <form method="post" action="/order_buy/{{ information.order_id}}">
        <input type="hidden" name="ord_id" value={{ information.order_id }}>

<center><input type="submit" class="btn btn-1" value="购买"></center>

{#    <center><a href="{% url "app_order:buy" %}" class="btn btn-1" >购买</a></center>#}
</form>
        <a href="{% url "app_order:order_del" information.order_id %}">取消订单</a>
                            {% endblock %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% include 'foot.html' %}

</body>
</html>