
{% extends 'orders_page.html' %}
{% block  detail%}

            {% for i in sku_kind_num %}
			<div class="row">
				<div class="product well">
					<div class="col-md-3">
						<div class="image">
							<a href="{%  url 'app_commidity:product' %}?i={{ i.sku_id.sku_id }}">
                                <img src="/static/media/{{ i.sku_id.commditypicture_set.all.0.comm_picture.name }}" />
                            </a>
						</div>
					</div>
					<div class="col-md-9">
						<div class="caption">
							<div class="name"><h3><a href="{%  url 'app_commidity:product' %}?i={{ i.sku_id.sku_id }}">{{ i.sku_id.sku_name }}</a></h3></div>

{#                            订单编号#}
                            {#							<div class="info">#}
                            {#								<ul>#}
                            {#									<li>Brand: text</li>#}
                            {#									<li>ID: 0122222</li>#}
                            {#								</ul>#}
                            {#							</div>#}
							<div class="price">现价： {{ i.oc_price }}</div>
							<label>数量: {{ i.oc_number }}</label>

							<hr>



						</div>
					</div>
				</div>
			</div>

            {% endfor %}
{% endblock %}



{% block  lk %}
    {% if not information.order_pay_state %}


{#    <form method="post" action="/order_buy/{{ sku_kind_num.first.order_id_id}}">#}

{#        购买的路径  alipay#}
            <form method="post" action="/buy/{{ sku_kind_num.first.order_id_id}}">

        <input type="hidden" name="ord_id" value={{ information.order_id }}>

<center><input type="submit" class="btn btn-1" value="购买"></center>

{#    <center><a href="{% url "app_order:buy" %}" class="btn btn-1" >购买</a></center>#}
</form>
        <a href="{% url "app_order:order_del" information.order_id %}">取消订单</a>

    {% endif %}
{% endblock %}
